@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* ||RESET: Most of it Done by Tailwind */
*:focus{
    outline: none;
}

/* ||VARIABLES */
:root{
    /* FONTS */
    --FF: "Space Grotesk", sans-serif;
 
    /* COLORS */
    --MAIN-BGCOLOR: #dfdfdf;
    --MOBILE-NAV-BGCOLOR: #565254;
    --BLACK-COLOR:#000;
    --WHITE-COLOR:#fff;
    --NAV-FONT-COLOR:#d0cfcf;
    --BTN-COLOR:#0000ff;
    --PROJECTS-BGCOLOR: #d0cfcf;
}

/* ||UTILITIES */
.nowrap{
    white-space: nowrap;
}

/* ||GENERAL STYLES */
html{
    font-family: var(--FF);
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

.btn{
    border-radius: 5px;
    padding: 0.5rem;
    transition: all 0.5s;
}

.btn:is(:hover,:focus){
    transform: scale(1.2);
    cursor: pointer;
}

/* ||HEADER */
.header{
    background-color: var(--MAIN-BGCOLOR);
    position: sticky;
    top:0;
    z-index: 3;
}

.hamburger-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--MOBILE-NAV-BGCOLOR);
    height: 100vh;
    width: auto;
}

.nav__list{
    display: flex;
    flex-flow: column nowrap;
    margin: 80px 2.5rem;
    font-size: min(4vh,2rem);
    font-weight: bold;
    gap: 1rem;
    color: var(--NAV-FONT-COLOR);
}

.nav__item{
    border-bottom: 1px solid var(--WHITE-COLOR);
    padding-bottom: 0.5rem;
}

.nav__link:any-link{
    width: 80%;
}

.nav__link:is(:hover,:focus){
    color: var(--WHITE-COLOR);
}

/* ||MAIN */
.main{
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(100vh - 80px);
    flex-grow: 1;
}

/* ||LANDING PAGE */
.landing-page{
    min-height: 100vh;
    background-image: url(../img/landingpage-background.jpg);
    background-size:cover ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
}

.landing-page::after{
    background-color: var(--MAIN-BGCOLOR) ;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0.7;
    position: absolute;
}

.landing-page__container{
    background-color: var(--WHITE-COLOR);
    color: var(--BLACK-COLOR);
    width:97%;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1.2rem;
    z-index: 1;
}

.landing-page__content{
    display: flex;
    flex-flow: column nowrap;
    gap: min(4vh, 2rem);
    font-size: 1.2rem;
}

.landing-page__img{
    border: 5px double var(--BLACK-COLOR);
    border-radius: 50%;
}

.landing-page__h1{
    font-weight: bold;
    font-size: min(6vh,2rem);
}

.landing-page__p{
    text-align: justify;
}

.btn--landing-page{
    background-color: var(--BTN-COLOR);
    color: var(--WHITE-COLOR);
    width: min(60%,150px);
}

/* ||Projects Section */
.past-projects{
    display: grid;
    grid-template-rows: 30px 2fr 2fr;
    background-color: var(--PROJECTS-BGCOLOR);
    gap:2rem;
    padding: 0.5rem 0;
    scroll-margin-top: 4.4rem;
}

.past-projects__h2{
    font-weight: bold;
    font-size: min(6vh,2rem);
    justify-self: center;
}

.project{
    width: 90%;
    margin: 0 auto;
    background-color: var(--WHITE-COLOR);
    border-radius: 3px;
}
.project__content{
    display: flex;
    flex-flow: column nowrap;
    gap:0.5rem;
    padding: 0.7rem;
}

.project__description{
    text-align: justify;
}

.project__link{
    display: inline-block;
    border-bottom: 2px solid var(--BTN-COLOR);
    margin-left: 0.7rem;
    transition: all 0.5s;
}

.project__link:is(:hover,:focus){
    transform: scale(1.2);
    color: var(--BTN-COLOR);
}

/* ||ABOUT */
.about{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--WHITE-COLOR);
    scroll-margin-top: 4.5rem ;
}

.about__h2{
    font-weight: bold;
    font-size: min(6vh,2rem);
}

.about__container{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.about__content{
    display:flex;
    flex-flow: column nowrap;
    gap: 0.7rem;
    text-align: justify;
}

.about__summary{
    margin-bottom: 0.7rem;
}

/* ||FOOTER */
.footer{
    background-color: var(--MAIN-BGCOLOR);
}

.footer__address{
    padding: 0.5rem;
}

.footer__link{
    border-bottom: 2px solid var(--BTN-COLOR);
}

.footer__link:is(:hover,:focus){
    color: var(--BTN-COLOR);
}

.copyright{
    text-align: center;
}

/* ||CONTACT */
.main--contact{
    background-image: radial-gradient(var(--WHITE-COLOR), var(--PROJECTS-BGCOLOR));
}

.contact{
    width: 90%;
    margin: 1rem auto;
    background-color: var(--WHITE-COLOR);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
}

.contact__img{
    background-image: url(../img/Contact-Background.jpg);
    background-size: cover;
    background-position: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.contact__h1{
    font-weight: bold;
    font-size: min(6vh,2rem);
    text-align: center;
    margin-top: 0.5rem;
}

.form{
    padding: min(4vw,1rem);
}

.form__label{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}

.form__input{
    margin-top: 0.3rem;
    margin-bottom:0.9rem;
    border-bottom: 2px solid var(--PROJECTS-BGCOLOR);
    width: 70%;
}

.form__input--textarea{
    resize: vertical;
}

.form__input:is(:hover,:focus){
    transform: translateX(1rem) scale(1.2);
}

.btn--form{
    background-color: var(--BTN-COLOR);
    color: var(--WHITE-COLOR);
}